In [1]:
a = [1, 2, 3, "e", 7878, 4]

reverse this list

In [36]:
b = [a[-i] for i in range(1, len(a)+1)]

print(a[::-1])

print(b)

[4, 7878, 'e', 3, 2, 1]
[4, 7878, 'e', 3, 2, 1]

In [14]:
d = {
    "key1" : "Value1",
    "key2" : "Value2",
    "key3" : "Value3",
}

Reverse thi dictionnary by inverting key value pairs

In [32]:
d_r = {value:key for key, value in d.items()}

print(d_r)

{'Value1': 'key1', 'Value2': 'key2', 'Value3': 'key3'}

In [37]:
money = {
    "John" : 40,
    "David" : 2000,
    "Seb" : 2,
}

List Ranking by salary

In [38]:
#my solution

d_r = {}
ranking = []

salaries = sorted(list(money.values()))

for name, salary in money.items():
    d_r [salary] = name

for salary in salaries:

    ranking.append(d_r.get(salary))

print(ranking)

['Seb', 'John', 'David']

In [39]:
#lewagon solution

print(sorted(money.items(), key = lambda x : x[1]))

[('Seb', 2), ('John', 40), ('David', 2000)]